*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

.App {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.Container {
  width:40%;
  height:400px; 
  /* background-color:hotpink; */
  background-color:#000;
  border-radius:15px;
  box-shadow: 2px 5px 5px 3px silver;
  /* text-align: center; */
}

h1{
  color:gold;
  font-size: 8rem;
  text-align:center;
}

.btn{
  width:45%;
  margin:1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  width:200px;
  height:30px;
  padding: 0.5rem 0.7rem;
  margin-right: 2rem;
  border-radius: 5px;
  outline:none;
  border:none;
  cursor: pointer;
  /* background-color:cyan; */
  background-color:gold;
  font-weight: bold;
}
